* {
    padding: 0;
    margin: 0;
}

/* body {
    background:linear-gradient(19.11deg, #100F13 25.71%, #201F24 53.53%, #2C2B2F 110%);
} */

section {
    overflow: hidden;
}

.header {
    height: 800px;
    background: linear-gradient(12.22deg, #100F13 25.71%, #201F24 53.53%, #2C2B2F 110%);
    overflow: hidden;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    padding-top: 50px;
}

.navigation__logo_image {
    position: absolute;
    top: 45px;
}

.navigation__logo_vector {
    position: absolute;
    opacity: 0.3;
    width: 850px;
    left: -400px;
    top: -204px;
}

.navigation__menu_link {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    padding-right: 35px;
}

.navigation__menu_link:nth-child(4) {
    padding-right: 0px
}

.navigation__menu_link:hover {
    color: #EC2227;
    text-decoration: none;
}

.about {
    display: flex;
    position: relative;
    padding-top: 229.5px;
}

.about__item_text {
    color: white;
    font-family: Noto Sans;
    font-style: normal;
    max-width: 450px;
}

.about__item_text-color {
    color: #EC2227;
}

.about__item_text-fonts-h1 {
    font-size: 44px;
    line-height: 60px;
    font-weight: bold;
    margin-bottom: 40px;
}

.about__item_text-fonts-p {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}

.about__item_image img:nth-child(1) {
    position: absolute;
    top: 160px;
    left: 580px;
    opacity: 0.02;
}

.about__item_image img:nth-child(2) {
    position: absolute;
    left: 350px;
    top: -90px;
    filter: drop-shadow(20px 4px 10px rgba(0, 0, 0, 0.25))
}

.about__item_image img:nth-child(3) {
    position: absolute;
    left: 359px;
    top: 100px;
    filter: drop-shadow(20px 4px 10px rgba(0, 0, 0, 0.25))
}

.development {
    font-family: Ubuntu;
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
    background: #100f13;
    padding-bottom: 181px;
}

.development__text_font-h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    padding-bottom: 35px;
}

.development__text_font-p {
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.8);
    max-width: 495px;
    margin: 0 auto;
}

.development__items {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    padding-top: 100px;
}

.development__items_item:not(:last-child) {
    padding-right: 110px;
}

.development__items_item-fonts {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    padding-top: 36px;
    letter-spacing: 0.9px;
}

.development__items_item-template {
    position: absolute;
    top: -345px;
    left: -760px;
    width: 850px;
    height: 850px;
    opacity: 0.15;
}

.consulting {
    background: #100f13;
    text-align: center;
    color: #FFFFFF;
    height: 804px;
}

.consulting__text_font-h2 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    padding-bottom: 36px;
}

.consulting__text_font-p {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    max-width: 660px;
    margin: 0 auto;
    opacity: 0.8;
    padding-bottom: 130px;
}

.consulting__diagramma {
    background: url(../image/Mask\ Group.svg) center center no-repeat / cover;
    ;
    height: 516px;
}

.audit {
    background: #100f13;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 80px;
}

.audit__text_font-h2 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    max-width: 388px;
    margin: 0 auto;
    padding-top: 120px;
}

.audit__text_font-p {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    max-width: 560px;
    margin: 0 auto;
}

.audit__text_padding {
    padding: 36px 0px;
}

.audit__offers {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 100px;
}

.audit__offer_image-one {
    position: absolute;
    top: -170px;
    left: -710px;
    width: 798px;
    height: 794px;
    opacity: 0.15;
}

.audit__offer {
    display: flex;
    flex-direction: row;
    background: #1B1B1B;
    mix-blend-mode: normal;
    border: 1px solid #979797;
    border-radius: 8px;
    position: relative;
    max-width: 370px;
    text-align: left;
}

.audit__offer_image-two {
    position: absolute;
    top: 260px;
    left: 70%;
    height: 794px;
    opacity: 0.15;
}

.audit__offer_item-image {
    position: absolute;
    top: 37px;
    left: 40px;
}

.audit__offer_item-text {
    padding: 30px 50px 30px 100px;
    opacity: 0.7;
}

.audit__offers_tablet {
    position: relative;
    padding-top: 100px;
}

.audit__offers_tablet-image {
    max-width: 100%;
}

.contacts {
    background: #100F13;
    padding-top: 100px;
    color: #fff;
    padding-bottom: 180px;
}

.contacts__text-h2 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
}

.contacts__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contacts__item_text {
    max-width: 280px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #BDC6CF;
}

.contacts__item_image {
    position: absolute;
    top: 3px;
    left: -28px;
}

.contacts__item_maps {
    position: relative;
}

.contacts__item_maps-adress {
    max-width: 180px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #BDC6CF;
}

.contacts__item .link:hover {
    text-decoration: none;
}

.contacts__item_qr {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.contacts__item_qr-font {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #BDC6CF;
    padding-top: 10px;
}

.footer {
    background: #100F13;
    border-top: 1px solid #747474;
    height: 100px;
}

.footer__logo_image {
    position: absolute;
    top: 30px;
}

.footer .navigation {
    padding-top: 40px;
}

.modal__block {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    z-index: 101;
    max-width: 770px;
    height: 444px;
    box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.25);
    color: #fff;
}

.modal__block_left {
    width: 375px;
    height: 444px;
    margin-right: 0;
}

.modal__block_left-img {
    width: 375px;
    height: 444px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.modal__block_right {
    width: 395px;
    height: 444px;
    padding: 33px 85px 20px 83px;
    background: linear-gradient(12.22deg, #100F13 0%, #201F24 33%, #2C2B2F 100%);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%
}

.form__title {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-align: center;
}

.form__group {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
}

.rfield:focus {
    outline: none;
}

.rfield {
    height: 36px;
    background: transparent;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.3);
}

.form__group_image {
    padding: 11px 10px;
}

label {
    margin-bottom: 0px;
}

.button {
    color: #EC2227;
    background: #fff;
    border: none;
    width: 100%;
    height: 36px;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
}

.form__postscript {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(130, 130, 130, 0.5);
    text-align: center;
}

.signIn {
    color: rgba(236, 34, 39, 0.5);
}

.createAccount {
    color: rgba(236, 34, 39, 0.5);
}

.backToSingIn {
    color: rgba(236, 34, 39, 0.5);
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.modal__block_shadow {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}

.sign-up {
    transform: scale(0);
    transition-duration: 0.5s;
}

.forgotPass {
    margin-left: auto;
    margin-top: 4px;
    margin-bottom: 15px;
    font-size: 9px;
    color: #828282;
}

.forgotPass:hover {
    color: #828282;
}

.sign-in {
    transform: scale(0);
    transition-duration: 0.5s;
}

.button__sign-in {
    margin-top: 0;
    margin-bottom: auto;
}

.form__title_margin {
    margin-bottom: auto;
}

.form__group_margin {
    margin-bottom: 12px;
}

.modal__block_right-width {
    width: 770px;
    height: 444px;
    border-radius: 16px;
}

.recovery {
    transform: scale(0);
    transition-duration: 0.5s;
}

.form__subtitle {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 154.05%;
    text-align: center;
    color: #828282;
    max-width: 237px;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 28px;
}

.recovery .form__group {
    width: 40%;
    margin: 0 auto;
}

.recovery input.button__submit {
    max-width: 237px;
    margin: 0 auto;
    margin-top: 12px;
}

.form__postscript_margin {
    margin-top: auto;
}

@media (min-width:1281px) {
    .consulting__diagramma {
        height: 686px;
    }
    .header {
        height: 1009px;
    }
}

.menu__popup {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0%;
    width: 100%;
    height: 50%;
    background: #000;
    z-index: 10;
    transition: 0.5s;
    transform: translateY(-100%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.menu__popup_link {
    color: #fff;
    text-transform: uppercase;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1.5px;
}

.menu__popup_list {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    list-style: none;
    transform: translate(-50%, -50%);
}

.menu__popup_item {
    margin: 0 auto;
    text-align: center;
}
.menu__popup_list li:first-child {
    margin-top:25px;
}
.menu__burger {
    position: relative;
    top: 0px;
    display: none;
    float: right;
    width: 50px;
    height: 50px;
    background-color: inherit;
    z-index: 110;
}

.menu__burger span, .menu__burger span::before, .menu__burger span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 20px;
    margin-top: -6px;
    margin-left: -10px;
    background: #fff;
}

.menu__burger span::before, .menu__burger span::after {
    content: '';
    display: block;
    transition: 0.4s;
}

.menu__burger span::before {
    transform: translateY(-5px);
}

.menu__burger--active span {
    height: 0;
}

.menu__burger--active span:before {
    transform: rotate(45deg);
}

.menu__burger--active span:after {
    transform: rotate(135deg);
}

.menu__popup.active {
    transform: translateX(0%);
}

.active {
    display: flex;
    transform: scale(1);
    transition-duration: 0.5s;
}

@media (max-width:1200px) {
    .about__item_image img:nth-child(3) {
        top: 85px;
        /* max-width: 250px; */
        transition-duration: 0.3s;
        left: 288px;
    }
    .about__item_image img:nth-child(1) {
        top: 196px;
        left: 395px;
    }
    .about__item_image img:nth-child(2) {
        top: -94px;
        /* max-width: 506px; */
        transition-duration: 0.3s;
        left: 248px;
    }
}

@media (max-width: 1000px) {
    .header {
        height: 890px;
    }
    .navigation__menu.hide {
        display: none;
    }
    .show {
        display: block;
    }
    .hide {
        display: none;
    }
    .about {
        padding-top: 119.5px;
        text-align: center;
    }
    .about__item_text {
        margin: 0 auto;
    }
    .navigation__logo_vector {
        left: -591px;
        top: -104px;
    }
    .about__item_image img:nth-child(3) {
        top: 407px;
        left: 27%;
        max-width: 275px;
        transition-duration: 0.3s;
    }
    .about__item_image img:nth-child(1) {
        top: 430px;
        left: 35%;
        max-width: 390px;
        opacity: 0.04;
    }
    .about__item_image img:nth-child(2) {
        top: 300px;
        left: 27%;
        max-width: 405px;
        transition-duration: 0.3s;
    }
    .audit__offers_tablet-image {
        max-width: 85%;
    }
    .development__items_item-template {
        left: -634px;
    }
}

@media (max-width:844px) {
    .development__items {
        flex-wrap: wrap;
    }
    .development__items_item {
        margin: 0 auto;
        width: 40%;
        padding: 20px 40px;
    }
    .development__items_item:not(:last-child) {
        padding-right: 0;
    }
    .development__items_item:last-child {
        padding-right: 0;
    }
    .audit__offers {
        flex-direction: column;
    }
    .audit__offer {
        margin: 0 auto;
    }
    .audit__offer:nth-child(2) {
        margin-top: 20px;
    }
    .modal__block_left {
        display: none;
    }
    .modal__block_right {
        padding:33px 20px 20px 20px;
    }
}

@media (max-width:700px) {
    .contacts__text-h2 {
        text-align: center;
    }
    .contacts__item {
        flex-direction: column;
        text-align: center;
    }
    .contacts__item_text {
        margin: 0 auto;
        padding: 20px 0;
    }
    .contacts__item_maps {
        margin: 0 auto;
        padding: 20px 0;
        margin-top: 50px;
    }
    .contacts__item_image {
        top: -35px;
        left: 75px;
    }
    .contacts__item_qr {
        margin-top: 30px;
    }
    .contacts {
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .footer .navigation {
        display: none;
    }
    .footer {
        height: 0px;
    }
}

@media (max-width:600px) {
    /* .d-none {
        display: none;
    } */
    .about__item_image img:nth-child(3) {
        top: 407px;
        left: 10%;
        max-width: 275px;
        transition-duration: 0.3s;
    }
    .about__item_image img:nth-child(1) {
        top: 430px;
        left: 20%;
        max-width: 390px;
        opacity: 0.04;
    }
    .about__item_image img:nth-child(2) {
        top: 300px;
        left: 10%;
        max-width: 405px;
        transition-duration: 0.3s;
    }
    .development__items {
        flex-direction: column;
        position: relative;
        justify-content: space-between;
    }
    .development__items_item {
        width: 45%;
        margin: 0 auto;
        padding: 20px 0;
    }
    .audit__offers {
        flex-direction: column;
    }
    .audit__offer {
        margin: 0 auto;
    }
    .audit__offer:nth-child(2) {
        margin-top: 20px;
    }
    .contacts__text-h2 {
        text-align: center;
    }
    .contacts__item {
        flex-direction: column;
        text-align: center;
    }
    .contacts__item_text {
        margin: 0 auto;
        padding: 20px 0;
    }
    .contacts__item_maps {
        margin: 0 auto;
        padding: 20px 0;
        margin-top: 50px;
    }
    .contacts__item_image {
        top: -35px;
        left: 75px;
    }
    .contacts__item_qr {
        margin-top: 30px;
    }
    .contacts {
        padding-bottom: 0px;
    }
    .footer .navigation {
        display: none;
    }
    .footer {
        height: 0px;
    }
}

@media (max-width:460px) {
    .about__item_image img:nth-child(3) {
        top: 407px;
        left: 0%;
        max-width: 275px;
        transition-duration: 0.3s;
    }
    .about__item_image img:nth-child(1) {
        top: 430px;
        left: 10%;
        max-width: 390px;
        opacity: 0.04;
    }
    .about__item_image img:nth-child(2) {
        top: 300px;
        left: 0%;
        max-width: 405px;
        transition-duration: 0.3s;
    }
    .about__item_text-fonts-p {
        font-size: 16px;
    }
    .development {
        padding-bottom: 70px;
    }
    .consulting__text_font-p {
        font-size: 14px;
    }
    .consulting__diagramma {
        height: 200px;
    }
    .consulting {
        height: 500px;
    }
}

@media (max-width:350px) {
    .about__item_image img:nth-child(3) {
        top: 460px;
        left: -13%;
        max-width: 210px;
        transition-duration: 0.3s;
    }
    .about__item_image img:nth-child(1) {
        top: 430px;
        left: 0%;
        max-width: 390px;
        opacity: 0.04;
    }
    .about__item_image img:nth-child(2) {
        top: 345px;
        left: -22%;
        max-width: 350px;
        transition-duration: 0.3s;
    }
}